<div class="container">
  <app-message [messages]="(messages | async)" (select)="select($event)" (unselect)="unselect($event)"></app-message>
  <div class="col-lg-12" style="margin: 10px 0;">
      <div class="input-group">

        <span class="input-group-btn" *ngIf="selectedMessages.length">
          <button class="btn btn-secondary" type="button" (click)="deleteMessage(selectedMessages)">Delete</button>
        </span>

        <input type="text" class="form-control" placeholder="Message..." #newMessage (keypress)="onKeypress($event, newMessage)">

        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="sendMessage(newMessage)">Send Message</button>
        </span>

      </div>
    </div>

</div>
